@charset "UTF-8";
body, html {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  color: #000;
  overflow-x: hidden; }

h2 {
  font-size: 38px;
  font-weight: 500; }

.popup.notification {
  padding: 0 15px;
  position: absolute;
  z-index: 20;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.37);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  display: none; }
  .popup.notification .wrapper {
    top: 0;
    box-shadow: 0 2px 4px 0 rgba(159, 159, 159, 0.5);
    position: relative;
    background-color: #ffffff;
    padding: 17px 27px;
    display: flex;
    width: 450px;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%; }
    .popup.notification .wrapper h2 {
      font-size: 32px;
      font-weight: 500;
      text-align: center; }
    .popup.notification .wrapper .wrapper-info {
      display: flex;
      width: 100%;
      align-items: center; }
      .popup.notification .wrapper .wrapper-info .image {
        flex: 0 1 100px; }
        .popup.notification .wrapper .wrapper-info .image img {
          width: 100%; }
      .popup.notification .wrapper .wrapper-info p {
        color: #4a4a4a;
        flex: 1 1 200px;
        margin-left: 10px;
        font-size: 14px; }
    .popup.notification .wrapper .button {
      padding: 8px 30px;
      background-color: #4a90e2;
      border: #4a90e2 1px solid;
      color: #fff;
      font-size: 14px;
      border-radius: 0; }
      .popup.notification .wrapper .button:hover {
        opacity: .75; }
      .popup.notification .wrapper .button.white {
        margin-right: 5px;
        background-color: unset;
        border-color: #979797;
        color: #4a4a4a; }
        .popup.notification .wrapper .button.white:hover {
          color: #fff;
          opacity: 1;
          background-color: #979797; }

.popup.subscribe {
  padding: 15px;
  position: absolute;
  z-index: 20;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.37);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none; }
  .popup.subscribe .wrapper {
    position: relative;
    background-color: #ffffff;
    padding: 30px 130px;
    display: flex;
    width: 810px;
    max-width: 100%;
    max-height: 100%;
    flex-direction: column; }
    .popup.subscribe .wrapper .close-popup {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 24px;
      cursor: pointer; }
    .popup.subscribe .wrapper h4 {
      font-size: 18px;
      margin-top: 0; }
    .popup.subscribe .wrapper .subscribe-form {
      display: flex; }
      .popup.subscribe .wrapper .subscribe-form .email-field {
        flex: 1 1 337px;
        font-size: 14px;
        padding: 14px 12px; }
      .popup.subscribe .wrapper .subscribe-form .button {
        background-color: #3a84db;
        border: 1px solid #3a84db;
        font-size: 14px;
        font-weight: 400;
        padding: 13px 50px;
        text-transform: unset;
        color: #fff;
        cursor: pointer;
        border-radius: 0;
        margin-left: 6px; }
        .popup.subscribe .wrapper .subscribe-form .button:hover {
          background-color: #fff;
          color: #3a84db; }

.w100 {
  width: 100%; }

hr {
  color: #979797;
  background-color: #979797;
  border: 0px none;
  height: 1px;
  margin: 0; }

.breadcrumbs {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 18px;
  color: #9b9b9b; }
  .breadcrumbs .slash {
    margin: 0 9px; }

.is-sticky > div {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5); }

.fa.fa-angle-down {
  margin-left: 5px; }

.paddings-lr-18 {
  padding-right: 18px;
  padding-left: 18px; }

.paddings-lr-25-5 {
  padding-left: 27.5px;
  padding-right: 27.5px; }

.paddings-lr-30 {
  padding-left: 30px;
  padding-right: 30px; }

.paddings-lr-40 {
  padding-left: 40px;
  padding-right: 40px; }

.paddings-lr-45 {
  padding-left: 45px;
  padding-right: 45px; }

.paddings-lr {
  padding-left: 55px;
  padding-right: 55px; }

.paddings-lr-70 {
  padding-left: 70px;
  padding-right: 70px; }

.mobile-only {
  display: none; }

.nav {
  font-size: 40px;
  font-weight: 100;
  height: 52px;
  display: inline-flex;
  width: 52px;
  border: 1px solid #222;
  justify-content: center;
  align-items: center;
  opacity: .4;
  transition: .25s ease-in;
  cursor: pointer; }
  .nav:hover {
    opacity: 1; }
  .nav.nav-prev {
    margin-left: 30px;
    position: relative;
    left: 1px; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.dark {
  display: none;
  position: absolute;
  width: 100%;
  height: 99999%;
  background-color: #000;
  z-index: 3;
  opacity: .8; }

.button {
  padding: 15px 50px;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 5px;
  transition: ease-in .25s;
  background-color: #fff;
  border: 1px solid #fff; }
  .button.b-trans {
    background-color: unset;
    border: 1px solid #fff;
    color: #fff; }
    .button.b-trans:hover {
      background-color: #fff;
      color: #017da4; }
  .button.b-red {
    background-color: #db3832;
    border: 1px solid #db3832;
    color: #fff; }
    .button.b-red:hover {
      background-color: unset;
      color: #db3832; }

.hint-trigger {
  position: relative; }

.hint {
  display: none;
  background-color: #fff;
  z-index: 100;
  padding: 12px 30px;
  top: 73px;
  position: absolute;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5); }
  .hint::after {
    content: '▲';
    position: absolute;
    text-shadow: 0px -2px 2px #969696;
    top: -29px;
    color: #fff;
    font-size: 30px;
    left: -20%;
    padding: 0 50%; }

.sticky {
  width: 100%;
  background-color: #fff;
  z-index: 999; }

.horizontal-menu {
  padding: 0;
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: stretch; }
  .horizontal-menu li {
    display: inline-block;
    transition: .25s ease-in; }
    .horizontal-menu li a {
      display: flex;
      align-items: center;
      height: 100%; }

.owl-carousel .owl-stage-outer {
  margin: 0px -1px 0px 0; }

.header {
  position: relative;
  z-index: 5; }
  .header .container {
    position: unset; }
  .header .search-form {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 25px 30px;
    z-index: 50;
    left: -50px;
    top: 25px; }
    .header .search-form form {
      max-width: 100%; }
      .header .search-form form .input-wrapper {
        min-width: 100%;
        position: relative; }
        .header .search-form form .input-wrapper img.search-button {
          height: 24px;
          position: absolute;
          right: 0;
          bottom: 7px;
          cursor: pointer;
          opacity: .5; }
          .header .search-form form .input-wrapper img.search-button:hover {
            opacity: 1; }
        .header .search-form form .input-wrapper:before {
          content: "";
          position: absolute;
          width: 1px;
          height: 15px;
          background-color: #ccc;
          top: 12px; }
        .header .search-form form .input-wrapper input[type='text'] {
          font-size: 14px;
          width: 300px;
          max-width: 100%;
          border: none;
          font-weight: 500;
          padding: 9px 26px 9px 5px;
          color: #222;
          border-width: 1px;
          border-bottom: solid 1px #979797; }
          .header .search-form form .input-wrapper input[type='text']:focus {
            outline: none; }
          .header .search-form form .input-wrapper input[type='text']::-webkit-input-placeholder {
            color: #b0aeb0; }
          .header .search-form form .input-wrapper input[type='text']:-moz-placeholder {
            color: #b0aeb0; }
          .header .search-form form .input-wrapper input[type='text']::-moz-placeholder {
            color: #b0aeb0; }
          .header .search-form form .input-wrapper input[type='text']:-ms-input-placeholder {
            color: #b0aeb0; }
  .header .black-panel {
    font-size: 1rem;
    background-color: #222;
    width: 100%;
    color: #fff; }
    .header .black-panel .row {
      justify-content: space-between;
      align-items: center;
      height: 45px; }
      .header .black-panel .row .location-info {
        padding: 13.5px 0; }
        .header .black-panel .row .location-info .lang {
          display: inline-block;
          padding-right: 10px; }
        .header .black-panel .row .location-info .town {
          display: inline-block;
          padding-left: 10px;
          position: relative;
          cursor: pointer; }
          .header .black-panel .row .location-info .town .choice {
            display: none;
            position: absolute;
            background-color: #222;
            z-index: 999;
            left: -10px;
            min-width: 100%; }
            .header .black-panel .row .location-info .town .choice ul {
              list-style-type: none;
              padding: 0;
              margin-top: 13px;
              margin-bottom: 0; }
            .header .black-panel .row .location-info .town .choice li {
              padding: 7px 20px;
              transition: .25s ease-in;
              cursor: pointer; }
              .header .black-panel .row .location-info .town .choice li:hover {
                background-color: #555; }
      .header .black-panel .row .menu-wrapper {
        height: 100%; }
        .header .black-panel .row .menu-wrapper .menu {
          height: 100%;
          padding: 0;
          list-style-type: none;
          margin: 0;
          display: flex;
          align-items: stretch;
          flex-wrap: wrap;
          justify-content: center; }
          .header .black-panel .row .menu-wrapper .menu li {
            display: inline-block;
            transition: .25s ease-in; }
            .header .black-panel .row .menu-wrapper .menu li:hover {
              background-color: #555; }
            .header .black-panel .row .menu-wrapper .menu li.active {
              background-color: #54be94; }
            .header .black-panel .row .menu-wrapper .menu li a {
              padding: 13.5px 15px;
              display: flex;
              align-items: center;
              height: 100%; }
              .header .black-panel .row .menu-wrapper .menu li a img {
                height: 18px;
                margin-right: 8px; }
  .header .menu-panel {
    background-color: #fff;
    margin-top: 7px; }
    .header .menu-panel .row {
      justify-content: space-between;
      align-items: center;
      font-size: 18px;
      font-weight: 500; }
      .header .menu-panel .row .logo-and-menu {
        display: flex;
        align-items: center; }
        .header .menu-panel .row .logo-and-menu .logo-wrapper {
          padding: 10px 15px 10px 0; }
          .header .menu-panel .row .logo-and-menu .logo-wrapper img {
            height: 50px; }
        .header .menu-panel .row .logo-and-menu .menu-wrapper {
          padding: 0 15px 0 20px; }
          .header .menu-panel .row .logo-and-menu .menu-wrapper li {
            cursor: pointer;
            padding: 0 14px;
            position: relative; }
            .header .menu-panel .row .logo-and-menu .menu-wrapper li.active:after {
              content: "";
              position: absolute;
              width: 100%;
              height: 1px;
              background-color: #000;
              bottom: -11px;
              left: 0;
              z-index: 999; }
      .header .menu-panel .row .tools-wrapper ul {
        padding: 15px 0; }
        .header .menu-panel .row .tools-wrapper ul li {
          position: relative;
          padding: 5px 15px;
          cursor: pointer; }
          .header .menu-panel .row .tools-wrapper ul li .hint {
            min-width: 270px;
            top: 50px;
            left: -20%; }
          .header .menu-panel .row .tools-wrapper ul li a {
            transition: .25s ease-in; }
            .header .menu-panel .row .tools-wrapper ul li a:hover {
              color: #777; }
            .header .menu-panel .row .tools-wrapper ul li a img {
              width: 22px;
              height: 22px;
              margin-right: 5px; }
          .header .menu-panel .row .tools-wrapper ul li .hint {
            text-align: center; }
  .header .variety-menu {
    background-color: #efefef;
    font-size: 18px;
    font-weight: 500; }
    .header .variety-menu .row .menu {
      justify-content: space-between;
      padding: 0;
      list-style-type: none;
      margin: 0;
      display: flex;
      align-items: stretch;
      flex-wrap: wrap;
      height: 100%;
      width: 100%; }
      .header .variety-menu .row .menu li {
        position: relative;
        height: 100%; }
        .header .variety-menu .row .menu li a {
          height: 100%;
          padding: 25px 15px;
          transition: .25s ease-in;
          font-weight: 400; }
          .header .variety-menu .row .menu li a:hover {
            background-color: #ddd; }
        .header .variety-menu .row .menu li .hint {
          padding: 20px 0;
          right: 0; }
          .header .variety-menu .row .menu li .hint:after {
            right: -40%;
            left: unset;
            padding: 0 50%; }
          .header .variety-menu .row .menu li .hint .menu {
            height: unset;
            padding: 0;
            display: block;
            min-width: 270px; }
            .header .variety-menu .row .menu li .hint .menu li {
              display: block; }
              .header .variety-menu .row .menu li .hint .menu li a {
                width: 100%;
                padding: 5px 30px; }
                .header .variety-menu .row .menu li .hint .menu li a:hover {
                  color: #000;
                  background-color: #eee; }
                .header .variety-menu .row .menu li .hint .menu li a.medium {
                  display: none; }
                .header .variety-menu .row .menu li .hint .menu li a.tablets {
                  display: none; }
                .header .variety-menu .row .menu li .hint .menu li a.small {
                  display: none; }

.s-wrapper {
  margin-top: 10px;
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #fff;
  z-index: 10;
  padding: 0;
  display: none;
  border: solid 1px #bbb; }
  .s-wrapper .container {
    padding: 0; }

.submenu {
  display: flex; }
  .submenu.company {
    padding-left: 265px; }
    .submenu.company ul {
      height: 100%; }
      .submenu.company ul li {
        height: 100%;
        padding: 0; }
        .submenu.company ul li a {
          height: 100%;
          padding: 30px 35px;
          transition: .25s ease-in; }
          .submenu.company ul li a:hover {
            color: #666; }
  .submenu.partners {
    padding: 20px 50px 60px 5px;
    justify-content: center; }
    .submenu.partners .image {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 10px;
      flex: 0 1 500px; }
      .submenu.partners .image img {
        max-width: 100%;
        margin: 0; }
    .submenu.partners .info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      flex: 0 1 500px;
      padding: 30px 10px; }
      .submenu.partners .info h3 {
        margin-top: 0;
        font-size: 30px;
        margin-bottom: 5px; }
      .submenu.partners .info h4 {
        margin: 10px 0;
        font-size: 24px;
        font-weight: 400; }
      .submenu.partners .info p {
        font-weight: 400;
        font-size: 18px;
        margin: 10px 0; }
      .submenu.partners .info .button {
        margin-top: 10px;
        border-color: #000; }
        .submenu.partners .info .button:hover {
          background-color: #000;
          color: #fff; }
  .submenu.catalogue {
    padding-left: 250px; }
    .submenu.catalogue .variety {
      display: flex;
      flex: 1 1 100%;
      background-color: #fff;
      padding: 30px 40px; }
      .submenu.catalogue .variety .items-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center; }
        .submenu.catalogue .variety .items-wrapper .item {
          font-weight: 400;
          flex: 0 1 33.33333%;
          color: #4a90e2;
          display: flex;
          align-items: center;
          padding: 10px 5px; }
          .submenu.catalogue .variety .items-wrapper .item img {
            height: 40px;
            margin-right: 15px; }
          .submenu.catalogue .variety .items-wrapper .item.full {
            color: #000;
            text-transform: uppercase;
            font-style: italic;
            transition: .25s ease-in; }
            .submenu.catalogue .variety .items-wrapper .item.full .fa {
              margin-left: 5px; }
            .submenu.catalogue .variety .items-wrapper .item.full:hover {
              color: #777; }

.footer {
  padding-top: 20px;
  background-color: #eee; }
  .footer .row .item {
    font-size: 16px; }
    .footer .row .item h3 {
      margin-top: 40px;
      margin-bottom: 10px;
      font-size: 24px;
      font-weight: 500; }
    .footer .row .item.one ul {
      list-style-type: none;
      padding: 0; }
      .footer .row .item.one ul li {
        padding-bottom: 20px; }
        .footer .row .item.one ul li a {
          text-decoration: underline; }
          .footer .row .item.one ul li a:hover {
            text-decoration: none; }
    .footer .row .item.two .socials {
      display: flex; }
      .footer .row .item.two .socials .item {
        height: 40px;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        color: #444;
        margin: 0 10px; }
        .footer .row .item.two .socials .item a {
          transition: .25s ease-in; }
          .footer .row .item.two .socials .item a:hover {
            color: #000; }
    .footer .row .item.two a {
      text-decoration: underline; }
      .footer .row .item.two a:hover {
        text-decoration: none; }
    .footer .row .item.three p {
      display: flex;
      align-items: center; }
    .footer .row .item.three img {
      height: 25px;
      margin-right: 15px; }
  .footer .low {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #979797;
    font-size: 16px;
    color: #9b9b9b;
    justify-content: space-between; }
    .footer .low p {
      text-align: center;
      margin: 6px 0 15px 0; }

.know-more.questions {
  background-color: #fff;
  color: #000;
  border: solid 1px #d0d0d0;
  border-left: none;
  border-right: none;
  padding: 37px 0 48px 0; }
  .know-more.questions .row {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-image: unset;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between; }
    .know-more.questions .row.title {
      justify-content: flex-start; }
      .know-more.questions .row.title h3 {
        font-size: 28px;
        font-weight: 400;
        margin: 0; }
    .know-more.questions .row p {
      color: #000;
      font-size: 16px;
      flex: 0 1 900px;
      margin: 15px 0 0 0; }
    .know-more.questions .row .button {
      flex: 0 0 220px;
      margin-left: 40px;
      padding: 15px 25px; }

.header .mobile {
  padding: 12px 30px;
  display: none;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  .header .mobile #show-nav {
    font-size: 24px;
    transform: scaleX(1.5);
    margin-right: 42px;
    margin-left: 5px; }
  .header .mobile .image {
    padding: 0 5px; }
    .header .mobile .image img {
      display: block;
      width: 100%;
      margin: auto;
      max-height: 45px; }
  .header .mobile .tools {
    display: flex;
    margin-left: 10px;
    position: relative; }
    .header .mobile .tools a img {
      width: 25px;
      height: 25px; }
    .header .mobile .tools a:first-child img {
      margin-right: 10px; }
    .header .mobile .tools .search-form {
      left: unset;
      right: -20px;
      top: 60px;
      padding: 20px; }
      .header .mobile .tools .search-form form .input-wrapper input[type="text"] {
        width: 260px; }
  .header .mobile .slide-menu {
    position: absolute;
    width: 270px;
    box-shadow: 3px 2px 10px 0 rgba(155, 155, 155, 0.5);
    background-color: #fff;
    min-height: 200px;
    left: -300px;
    transition: .25s ease-in;
    top: 0;
    height: 100vh;
    overflow-x: auto; }
    .header .mobile .slide-menu .list {
      padding: 0;
      list-style-type: none;
      margin: 10px 0 30px 0; }
      .header .mobile .slide-menu .list hr {
        margin: 6px 0; }
      .header .mobile .slide-menu .list li a {
        display: block;
        padding: 10px 23px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer; }
        .header .mobile .slide-menu .list li a:hover {
          color: #777; }
      .header .mobile .slide-menu .list li ul {
        display: none;
        padding: 0;
        list-style-type: none; }
        .header .mobile .slide-menu .list li ul li a {
          padding: 7px 23px;
          font-size: 14px;
          font-weight: 400; }
