.news-block .row.menu-of-sections ul li {
  padding: 17px 0px 22px 0px;
  margin-right: 111px;
  position: relative; }
  .news-block .row.menu-of-sections ul li.active:after {
    content: "";
    position: absolute;
    width: 130%;
    height: 3px;
    background-color: #000;
    bottom: -2px;
    left: -15%; }
  .news-block .row.menu-of-sections ul li:last-child {
    margin-right: 0; }
  .news-block .row.menu-of-sections ul li a {
    font-size: 28px;
    font-weight: 500;
    transition: .25s ease-in; }
    .news-block .row.menu-of-sections ul li a:hover {
      color: #666; }

.news-block .row.news-wrapper {
  width: 808px;
  max-width: 100%; }
  .news-block .row.news-wrapper .item {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 47px;
    width: 808px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-bottom: solid 1px #e1e1e1; }
    .news-block .row.news-wrapper .item p.text {
      display: none;
      font-size: 16px;
      color: #666;
      margin-top: 0;
      margin-bottom: 20px; }
    .news-block .row.news-wrapper .item p.date {
      font-size: 16px;
      color: #a1a1a1;
      margin: 0; }
    .news-block .row.news-wrapper .item h3.title {
      margin: 20px 0 25px 0;
      line-height: 1.33;
      color: #353535;
      font-size: 24px;
      font-weight: 500; }
    .news-block .row.news-wrapper .item a.read-more {
      cursor: pointer;
      font-size: 16px;
      line-height: 1.38;
      color: #4a90e2; }
  .news-block .row.news-wrapper .navigation {
    width: 100%;
    padding: 45px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #9a9a9a;
    font-size: 18px; }
    .news-block .row.news-wrapper .navigation .nums a {
      margin: 0 10px; }
      .news-block .row.news-wrapper .navigation .nums a.active {
        color: #353535; }
    .news-block .row.news-wrapper .navigation .nav {
      border: none;
      color: #353535; }
