.above-cart {
  display: none; }

.product-block .row.title h2 {
  font-size: 34px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 21px; }

.product-block .row.product-wrapper .preview {
  position: relative;
  flex: 1 1 66.6667%;
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .product-block .row.product-wrapper .preview .product-carousel {
    display: flex;
    width: 100%;
    max-width: 570px;
    box-shadow: 0 2px 11px 0 rgba(116, 116, 116, 0.5); }
    .product-block .row.product-wrapper .preview .product-carousel img {
      width: 100%; }

.product-block .row.product-wrapper .nav-wrapper {
  height: 100%;
  padding: 0 15px;
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 280px; }
  .product-block .row.product-wrapper .nav-wrapper .nav {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    font-size: 80px;
    border-radius: 50%;
    border: solid 1px #979797; }
    .product-block .row.product-wrapper .nav-wrapper .nav .fa {
      position: relative; }
    .product-block .row.product-wrapper .nav-wrapper .nav.nav-prev .fa {
      right: 3px; }
    .product-block .row.product-wrapper .nav-wrapper .nav.nav-next .fa {
      left: 3px; }

.product-block .row.product-wrapper .thumbnails {
  position: relative;
  z-index: 2;
  margin-top: 65px;
  border-top: solid 1px #979797;
  padding: 30px;
  width: 100%;
  padding-bottom: 80px; }
  .product-block .row.product-wrapper .thumbnails .owl-thumbs {
    width: 570px;
    max-width: 100%;
    margin: auto; }
    .product-block .row.product-wrapper .thumbnails .owl-thumbs button {
      background-color: unset;
      border: 1px solid #979797;
      padding: 0;
      margin-right: 15px;
      transition: .25s ease-in;
      cursor: pointer;
      margin-bottom: 10px; }
      .product-block .row.product-wrapper .thumbnails .owl-thumbs button:hover {
        box-shadow: 0 2px 11px 0 rgba(116, 116, 116, 0.5); }
    .product-block .row.product-wrapper .thumbnails .owl-thumbs img {
      height: 100px; }

.product-block .row.product-wrapper .info {
  flex: 1 1 33.3333%;
  border-left: solid 1px #979797;
  padding: 25px 30px; }
  .product-block .row.product-wrapper .info h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 0; }
  .product-block .row.product-wrapper .info p {
    margin-top: 12px;
    font-size: 20px;
    font-weight: 400; }
    .product-block .row.product-wrapper .info p.article {
      text-transform: lowercase;
      font-size: 20px; }
    .product-block .row.product-wrapper .info p.status {
      color: #666;
      font-size: 24px; }
      .product-block .row.product-wrapper .info p.status.green {
        color: #6ebf17; }
    .product-block .row.product-wrapper .info p.price {
      font-size: 32px;
      font-weight: 500; }
    .product-block .row.product-wrapper .info p .tip {
      font-size: 14px;
      padding: 5px 13px;
      background-color: #f2f2f2;
      display: block; }
    .product-block .row.product-wrapper .info p a {
      font-size: 18px;
      color: #4a90e2; }
  .product-block .row.product-wrapper .info .params {
    display: flex; }
    .product-block .row.product-wrapper .info .params p {
      font-size: 18px;
      font-weight: 500; }
      .product-block .row.product-wrapper .info .params p:first-child {
        padding-right: 70px; }
      .product-block .row.product-wrapper .info .params p span {
        margin-top: 6px;
        display: block;
        font-weight: 400;
        width: 100%; }
  .product-block .row.product-wrapper .info form .button {
    background-color: #3a84db;
    border: 1px solid #3a84db;
    font-size: 19px;
    font-weight: 500;
    padding: 15px 30px;
    text-transform: unset;
    margin-top: 30px;
    margin-bottom: 18px;
    color: #fff;
    cursor: pointer; }
    .product-block .row.product-wrapper .info form .button:hover {
      background-color: #fff;
      color: #3a84db; }
  .product-block .row.product-wrapper .info form p {
    font-weight: 500; }
  .product-block .row.product-wrapper .info form .control-group .block {
    width: 17px;
    height: 19px;
    background-color: #fff;
    border: solid 1px #979797;
    display: inline-block;
    margin-left: 8px; }
    .product-block .row.product-wrapper .info form .control-group .block.green {
      background-color: #417505; }
  .product-block .row.product-wrapper .info form .control-group .control {
    font-family: arial;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    font-weight: 400;
    cursor: pointer;
    font-size: 18px; }
  .product-block .row.product-wrapper .info form .control-group .control input {
    position: absolute;
    z-index: -1;
    opacity: 0; }
  .product-block .row.product-wrapper .info form .control-group .control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #fff;
    border: 1px solid #000000; }
  .product-block .row.product-wrapper .info form .control-group .control-radio .control_indicator {
    border-radius: 50%; }
  .product-block .row.product-wrapper .info form .control-group .control:hover input ~ .control_indicator,
  .product-block .row.product-wrapper .info form .control-group .control input:focus ~ .control_indicator {
    background: #e6e6e6; }
  .product-block .row.product-wrapper .info form .control-group .control input:checked ~ .control_indicator {
    background: #fff; }
  .product-block .row.product-wrapper .info form .control-group .control:hover input:not([disabled]):checked ~ .control_indicator,
  .product-block .row.product-wrapper .info form .control-group .control input:checked:focus ~ .control_indicator {
    background: #fff; }
  .product-block .row.product-wrapper .info form .control-group .control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none; }
  .product-block .row.product-wrapper .info form .control-group .control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none; }
  .product-block .row.product-wrapper .info form .control-group .control input:checked ~ .control_indicator:after {
    display: block; }
  .product-block .row.product-wrapper .info form .control-group .control-radio .control_indicator:after {
    left: 3px;
    top: 3px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #4a90e2; }
  .product-block .row.product-wrapper .info form .control-group .control-radio input:disabled ~ .control_indicator:after {
    background: #7b7b7b; }

.product-info {
  position: relative;
  top: -50px; }
  .product-info .row.menu-of-sections ul li {
    padding: 17px 0px 4px 0px;
    margin-right: 87px;
    position: relative; }
    .product-info .row.menu-of-sections ul li.active:after {
      content: "";
      position: absolute;
      width: 110%;
      height: 3px;
      background-color: #000;
      bottom: -2px;
      left: -5%; }
    .product-info .row.menu-of-sections ul li:last-child {
      margin-right: 0; }
    .product-info .row.menu-of-sections ul li a {
      cursor: pointer;
      font-size: 24px;
      font-weight: 500;
      transition: .25s ease-in; }
      .product-info .row.menu-of-sections ul li a:hover {
        color: #666; }
  .product-info .row.info .desc {
    font-size: 19px;
    font-weight: 400; }
    .product-info .row.info .desc p {
      margin-top: 30px;
      margin-bottom: 0; }
    .product-info .row.info .desc ul {
      padding: 0;
      list-style-type: none; }
  .product-info .row.info .reviews {
    max-width: 765px; }
    .product-info .row.info .reviews p {
      margin-bottom: 0;
      font-size: 16px;
      margin-top: 30px; }
    .product-info .row.info .reviews .review-form {
      width: 100%;
      padding: 45px 0;
      justify-content: flex-end;
      display: flex;
      flex-wrap: wrap; }
      .product-info .row.info .reviews .review-form p {
        margin: 0;
        display: flex;
        align-items: center;
        font-size: 18px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start; }
        .product-info .row.info .reviews .review-form p:first-child {
          margin-bottom: 128px; }
        .product-info .row.info .reviews .review-form p span {
          padding: 5px 0; }
        .product-info .row.info .reviews .review-form p input, .product-info .row.info .reviews .review-form p textarea {
          background-color: #ffffff;
          border: solid 1px #cfcfcf;
          resize: none;
          flex: 0 1 538px;
          padding: 6.5px; }
          .product-info .row.info .reviews .review-form p input:focus, .product-info .row.info .reviews .review-form p textarea:focus {
            background-color: #f9f9f9; }
        .product-info .row.info .reviews .review-form p textarea {
          min-height: 117px; }
      .product-info .row.info .reviews .review-form .button {
        cursor: pointer;
        margin-top: 8px;
        background-color: #3a84db;
        color: #fff;
        border: none;
        border-radius: 0;
        padding: 12px 40px;
        font-size: 16px;
        text-transform: unset; }
        .product-info .row.info .reviews .review-form .button:hover {
          background-color: #3a84db;
          color: #fff;
          opacity: .7; }

.recent-catalogue .row.title h2 {
  font-size: 28px;
  margin-bottom: 1px;
  margin-top: 0;
  font-weight: 400; }

.recent-catalogue .row.catalogue {
  flex-wrap: nowrap;
  margin: 44px 0 50px 0; }
  .recent-catalogue .row.catalogue .item {
    flex: 1 1 25%;
    margin: 0 19px;
    padding: 10px 10px 0 10px;
    border: solid 1px #fff; }
    .recent-catalogue .row.catalogue .item:first-child {
      margin-left: 0; }
    .recent-catalogue .row.catalogue .item:last-child {
      margin-right: 0; }
    .recent-catalogue .row.catalogue .item:hover {
      border: solid 1px #979797; }
      .recent-catalogue .row.catalogue .item:hover .button-wrapper .button {
        opacity: 1; }
    .recent-catalogue .row.catalogue .item .image {
      height: 319px;
      background-position: center center;
      background-size: cover; }
    .recent-catalogue .row.catalogue .item h4 {
      font-size: 24px;
      font-weight: 500;
      margin-top: 15px;
      margin-bottom: 9px; }
    .recent-catalogue .row.catalogue .item p {
      margin-top: 0;
      margin-bottom: 16px;
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase; }
    .recent-catalogue .row.catalogue .item .button-wrapper {
      margin-left: -10px;
      margin-right: -10px;
      display: flex;
      margin-top: 30px;
      height: 52px; }
      .recent-catalogue .row.catalogue .item .button-wrapper .button {
        border-radius: unset;
        width: 100%;
        text-align: center;
        background-color: #f0f0f0;
        color: #4a4a4a;
        font-size: 16px;
        transition: .25s ease-in;
        opacity: 0; }
        .recent-catalogue .row.catalogue .item .button-wrapper .button:hover {
          background-color: #ddd; }
