.popup.thanks {
  padding: 15px;
  position: absolute;
  z-index: 20;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0.37);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  .wrapper {
    h2 {
      font-size: 32px;
      font-weight: 500;
      text-align: center;
    }
    position: relative;
    background-color: #ffffff;
    padding: 100px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 810px;
    height: 450px;
    max-width: 100%;
    max-height: 100%;
    .close-popup {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 24px;
      cursor: pointer;
    }
  }
}
.dealers-block {
  .row {
    &.menu-of-sections {
      ul {
        li {
          padding: 17px 0px 22px 0px;
          margin-right: 111px;
          position: relative;
          &.active:after {
            content: "";
            position: absolute;
            width: 130%;
            height: 3px;
            background-color: #000;
            bottom: -2px;
            left: -15%;
          }
          &:last-child {
            margin-right: 0;
          }
          a {
            font-size: 28px;
            font-weight: 500;
            transition: .25s ease-in;
            &:hover {
              color: #666;
            }
          }
        }
      }
    }
    &.info {
      padding-top: 34px;
      padding-bottom: 60px;
      flex-wrap: nowrap;
      display: flex;
      justify-content: space-between;
      .half {
        h2 {
          font-size: 38px;
          font-weight: 400;
          margin: 12px 0;
        }
        p {
          font-size: 18px;
          margin: 0 0 12px 0;
        }
        &.become {
          flex: 0 0 680px;
          padding-right: 50px;
          h3 {
            font-size: 24px;
            font-weight: 400;
            margin: 0 0 16px 0;
          }
          h4 {
            font-size: 24px;
            margin: 0 0 16px 0;
            font-weight: 400;
          }
          form.contact-form{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .button {
              background-color: #4a90e2;
              border: 1px solid #4a90e2;
              font-size: 16px;
              font-weight: 400;
              padding: 16px 42px;
              color: #fff;
              cursor: pointer;
              text-transform: unset;
              &:hover {
                background-color: unset;
                color: #4a90e2;
              }
            }
            .item {
              padding-top: 26px;
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              padding-bottom: 20px;
              .title {
                margin: 0;
                font-size: 18px;
                font-weight: 400;
              }
              .field {
                flex: 0 0 376px;  
                input, textarea {
                  background-color: #f9f9f9;
                  border: 1px solid #eaeaea;
                  padding: 8px 16px;
                  font-size: 13px;
                  width: 100%;
                  font-family: inherit;
                  &.alert {
                    border-color: #f5d4d4;
                  }
                }
                .tip {
                  width: 100%;
                  text-align: left;
                  font-size: 13px;
                  line-height: 1.62;
                  color: #db3832;
                  margin-top: 3px;
                }
              }
            }
          }
        }
        &.address {
          padding-left: 50px;
          display: flex;
          flex-direction: column;
          .item {
            h3 {
              margin-top: 16px;
              font-size: 28px;
              font-weight: 400;
              margin-bottom: 26px;
            }
            padding: 0 65px 10px 65px;
            border-top: 1px solid #979797;
            &:first-child {
              border: none;
            }
          }
        }
      }
    }
  }
}