.carousel {
  margin-top: 30px;
  width: 100%;
  .container {
    padding: 0;
  }
  .item-wrapper {
    min-height: 525px;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    padding: 100px 15px;
    position: relative;
    background-image: url(../img/slide-yellow-bg.jpg);
    .container {
      padding: 0 15px;
    }
    .row {
      position: relative;
      z-index: 2;
      flex-direction: column;
      align-items: flex-start;
      pointer-events:none;
      h2 {
        font-size: 48px;
        margin: 0 0 38px 0;
        font-weight: 500;
      }
      h4 {
        font-weight: 400;
        font-size: 24px;
        margin: 0 0 52px 0;
      }
      .nav-btn-wrapper {
        display: flex;
        align-items: center;
        pointer-events: auto;
      }
    }
    .hover-item {
      position: absolute;
      right: 0px;
      top: 30px;
      img {
        width: 740px;
        border: 30px solid rgba(0,0,0,0);
        border-top: 20px solid rgba(0,0,0,0);
        border-bottom: 20px solid rgba(0,0,0,0);
        &:hover {
          width: 800px;
          border: none;
        }
      }
    }
    &.blue {
      color: #fff;
      background-image: url(../img/m-slide-blue-bg.jpg);
      .hover-item {
        img {
          width: 640px;
          &:hover {
            width: 700px;
          }
        }
      }
      .row {
        .nav-btn-wrapper {
          .nav{
            color: #fff;
            border: 1px solid #fff;
          }
        }
      }
    }
  }
  .owl-stage {
    display: flex;
    align-items: center;
  }
  .owl-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 40px;
    pointer-events: none;
    .dot {
      width: 22px;
      height: 22px;
      background-color: unset;
      border: 1px solid #fff;
      border-radius: 50%;
      opacity: 1; 
      cursor: pointer;
      transition: ease-in .25s;
      margin: 10px 5px;
      pointer-events: auto;
      &.active {
        background-color: #fff;
      }
    }
  }
}
.catalogue-news {
  padding: 47px 0 22px 0;
  .catalogue-carousel {
    margin: 0;
  }
  .row.title-nav {
    padding-bottom: 40px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    h2 {
      margin: 0;
    }
    .nav-wrapper {
      display: flex;
    }
    .nav {
      line-height: 0;
      .nav-prev {
        margin-left: 10px;
      }
    }
  }
  .row.catalogue-carousel {
    .item {
      display: flex;
      border: solid 1px #fff;
      transition: ease-in .25s;
      flex-direction: column;
      padding: 10px 10px 0 10px;
      max-width: 387px;
      margin: auto;
      &:hover {
        border: solid 1px #979797;
        .button-wrapper .button {
          opacity: 1;
        }
      }
      .image {
        height: 410px;
        background-position: center center;
        background-size: auto 100%;
        background-repeat: no-repeat;
        position: relative;
        align-self: center;
        width: 100%;
        background-color: #f7f7f7;
        .tip {
          background-color: #02c191;
          color: 12px;
          padding: 7px 12px;
          color: #fff;
          position: absolute;
          left: 0;
          bottom: -16px;
          border-radius: 10px;
        }
      }
      h4 {
        font-size: 24px;
        margin-top: 22px;
        margin-bottom: 3px;
      }
      p {
        margin: 0;
        font-size: 18px;
        text-transform: uppercase;
      }
      .button-wrapper {
        margin-left: -10px;
        margin-right: -10px;
        display: flex;
        margin-top: 16px;
        height: 52px;
        .button {
          border-radius: unset;
          width: 100%;
          text-align: center;
          background-color: #f0f0f0;
          color: #4a4a4a;
          font-size: 16px;
          transition: .25s ease-in;
          opacity: 0;
          &:hover {
            background-color: #ddd;
          }
        }
      }
    }
  }
}
.know-more {
  &.bg { 
    margin-bottom: 50px;
  }
  &.bg .row {
    padding-left: 153px;
    padding-right: 122px;
  }
  .row {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
    background-image: url(../img/rzhd-tablet.jpg);
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    p {
      flex: 0 1 625px;
      font-size: 24px;
      color: #fff;
    }
    .button {
      flex: 0 0 250px;
      text-align: center;
      margin: 0 10px;
    }
  }
}
.news {
  padding: 0px 0 58px 0;
  background-color: #fbfbfb;
  h2 {
    margin: 30px 0;
  }
  .row {
    align-items: stretch;
    &.title {
      justify-content: space-between;
      align-items: center;
      h3 {
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
      }
      a:hover {
        color: #555;
      }
    }
    .item-wrapper {
      margin-bottom: 15px;
    }
    .item {
      background: #fff;
      padding: 30px;
      border: solid 1px #d0d0d0;
      height: 100%;
      h3 {
        margin: 0;
        font-size: 24px;
        padding: 20px 0;
        font-weight: 500;
      }
      p {
        margin: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #848484;
      }
      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        .date {
          color: #bbbbbb;
        }
        a {
          color: #11519b; 
          font-size: 18px;
          .fa {
            margin-left: 10px;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.blog {
  padding-bottom: 50px;
  h2 {
    margin: 47px 0 51px 0;
  }
  .row {
    max-width: 100%;
    flex-wrap: nowrap;
    margin: 0;
    .item {
      background-position: center center;
      background-size: cover;
      padding: 28px 60px 40px 60px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      min-height: 300px;
      margin: 0 9px;
      flex: 1 1 33%;
      &:nth-child(1) {
        background-image: url(../img/blog1.png);
      }
      &:nth-child(2) {
        background-image: url(../img/blog2.png);
      }
      &:nth-child(3) {
        background-image: url(../img/blog3.png);
      }
      &:first-child {
        margin: 0;
      }
      &:last-child {
        margin: 0;
      }
      .button {
        padding: 15px 40px;
        margin-top: 135px;
        background-color: unset;
        border-color: #222;
        &:hover {
          background-color: #222;
          color: #fff;
        }
      }
      &.white {
        color: #fff;
        .button {
          border-color: #fff;
          &:hover {
            background-color: #fff;
            color: #222;
          }
        }
      }
      h4 {
        font-size: 20px;
        font-weight: 500;
        margin: 0;
        padding-bottom: 15px;
      }
      p {
        margin: 0;
        font-size: 16px;
        padding-bottom: 16px;
      }
    }
  }
}