/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

 body, html {
   font-family: 'Roboto';
   font-weight: 400;
   font-size: 14px;
   margin: 0;
   color: #000;
 }
 h2 {
  font-size: 38px;
  font-weight: 500;
}
.is-sticky>div {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.5);
}
.fa.fa-angle-down {
  margin-left: 5px;
}
.paddings-lr {
  padding-left: 55px;
  padding-right: 55px;
}
.paddings-lr-25-5 {
  padding-left: 27.5px;
  padding-right: 27.5px;
}
.paddings-lr-40 {
  padding-left: 40px;
  padding-right: 40px;
}
.paddings-lr-70 {
  padding-left: 70px;
  padding-right: 70px;
}
.paddings-lr-18 {
  padding-right: 18px;
  padding-left: 18px;
}
.nav {
  font-size: 40px;
  font-weight: 100;
  height: 52px;
  display: inline-flex;
  width: 52px;
  border: 1px solid #222;
  justify-content: center;
  align-items: center;
  opacity: .4;
  transition: .25s ease-in;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
  &.nav-prev {
    margin-left: 30px;
    position: relative;
    left: 1px;
  }
} 
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
#dark {
  display: none;
  position: absolute;
  width: 100%;
  height: 99999%;
  background-color: #000;
  z-index: 3;
  opacity: .8;
}
.button {
  padding: 15px 50px;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 5px;
  transition: ease-in .25s;
  background-color: #fff;
  border: 1px solid #fff;
  &.b-trans {
    background-color: unset;
    border: 1px solid #fff;
    color: #fff;
    &:hover {
      background-color: #fff;
      color: #017da4;
    }
  }
  &.b-red {  
    background-color: #db3832;
    border: 1px solid #db3832;
    color: #fff;
    &:hover {
      background-color: unset;
      color: #db3832;
    }
  }
}
.hint-trigger {
  position: relative;
}
.hint {
  display: none;
  background-color: #fff;
  z-index: 100;
  padding: 12px 30px;
  top: 73px;
  position: absolute;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.50);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.50);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.50);
  &::after {
    content: '▲';
    position: absolute;
    text-shadow: 0px -2px 2px #969696;
    top: -29px;
    color: #fff;
    font-size: 30px;
    left: -20%;
    padding: 0 50%;
  }
}
.sticky {
  width: 100%;
  background-color: #fff;
  z-index: 999;
}
.horizontal-menu {
  padding: 0;
  list-style-type: none;
  margin: 0;
  display: flex;
  align-items: stretch;
  li {
    display: inline-block;
    transition: .25s ease-in;
    a {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
}
.owl-carousel .owl-stage-outer {
  margin: 0px -1px 0px 0;
}
.header {
  position: relative;
  z-index: 5;
  .container {
    position: unset;
  }
  .black-panel {
    font-size: 1rem;
    background-color: #222;
    width: 100%;
    color: #fff;
    .row {
      justify-content: space-between;
      align-items: center;
      height: 45px;
      .location-info {
        padding: 13.5px 0;
        .lang {
          display: inline-block;
          padding-right: 10px;
        }
        .town {
          display: inline-block;
          padding-left: 10px;
          position: relative;
          cursor: pointer;
          .choice {
            display: none;
            position: absolute;
            background-color: #222;
            z-index: 999;
            left: -10px;
            min-width: 100%;
            ul {
              list-style-type: none;
              padding: 0;
              margin-top: 13px;
              margin-bottom: 0;
            }
            li {
              padding: 7px 20px;
              transition: .25s ease-in;
              cursor: pointer;
              &:hover {
                background-color: #555;
              }
            }
          }
        }
      }
      .menu-wrapper {
        height: 100%;
        .menu {
          height: 100%;
          padding: 0;
          list-style-type: none;
          margin: 0;
          display: flex;
          align-items: stretch;
          flex-wrap: wrap;
          justify-content: center;
          li {
            display: inline-block;
            transition: .25s ease-in;
            &:hover {
              background-color: #555;
            }
            &.active {
              background-color: #54be94;
            }
            a {
              padding: 13.5px 15px;
              display: flex;
              align-items: center;
              height: 100%;
              img {
                height: 18px;
                margin-right: 8px;
              }
            }
          }
        }
      }
    }
  }
  .menu-panel {
    background-color: #fff;
    margin-top: 7px;
    .row {
      justify-content: space-between;
      align-items: center;
      font-size: 18px;
      font-weight: 500;

      .logo-and-menu {
        display: flex;
        align-items: center;
        .logo-wrapper {
          padding: 10px 15px 10px 0;
          img {
            height: 50px;
          }
        }

        .menu-wrapper {
          padding: 0 15px 0 20px;
          li {
            cursor: pointer;
            padding: 0 14px;
            position: relative;
            &.active:after {
              content: "";
              position: absolute;
              width: 100%;
              height: 1px;
              background-color: #000;
              bottom: -11px;
              left: 0;
              z-index: 999;
            }
          } 
        }
      }

      .tools-wrapper {
        ul {
          padding: 15px 0;
          li {
            position: relative;
            padding: 5px 15px;
            .hint {
              min-width: 270px;
              top: 50px;
              left: -20%;
            }
            a {
              transition: .25s ease-in;
              &:hover {
                color: #777;
              }
              img {
                width: 22px;
                height: 22px;
                margin-right: 5px;
              }
            }
            .hint {
              text-align: center;
            }
          }
        }
      }
    }
  }
  .variety-menu {
    background-color: #efefef;
    font-size: 18px;
    font-weight: 500;
    .row {
      .menu {
        justify-content: space-between;
        padding: 0;
        list-style-type: none;
        margin: 0;
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        li {
          position: relative;
          height: 100%;
          a {
            height: 100%;
            padding: 15px 15px;
            transition: .25s ease-in;
            font-weight: 400;
            &:hover {
              color: #666;
            }
          }
          .hint {
            padding: 20px 0;
            right: 0;
            &:after {
              right: -40%;
              left: unset;
              padding: 0 50%;
            }
            .menu {
              height: unset;
              padding: 0;
              display: block;
              min-width: 270px;
              li {
                display: block;
                a {
                  width: 100%;
                  padding: 5px 30px;
                  &:hover {
                    background-color: #e5e5e5;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.s-wrapper {
  margin-top: 10px;
  position: absolute;
  width: 100%;
  left: 0;
  background-color: #fff;
  z-index: 10;
  padding: 0;
  display: none;
  border: solid 1px #bbb;
  .container {
    padding: 0;
  }
}
.submenu {
  display: flex;
  &.company {
    padding-left: 265px;
    ul {
      height: 100%;
      li {
        height: 100%;
        padding: 0;
        a {
          height: 100%;
          padding: 30px 35px;
          transition: .25s ease-in;
          &:hover {
            background-color: #eee;
            color: #000;
          }
        }
      }
    }
  }
  &.partners {
    padding: 20px 50px 60px 5px;
    justify-content: center;
    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 30px 10px;
      flex: 0 1 500px;
      img {
        max-width: 100%;
        margin: 0;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      flex: 0 1 500px;
      padding: 30px 10px;
      h3 {
        margin-top: 0;
        font-size: 30px;
        margin-bottom: 5px;
      }
      h4 {
        margin: 10px 0;
        font-size: 24px;
        font-weight: 400;
      }
      p {
        font-weight: 400;
        font-size: 18px;
        margin: 10px 0;
      }
      .button {
        margin-top: 10px;
        border-color: #000;
        &:hover {
          background-color: #000;
          color: #fff;
        }
      }
    }
  }
  &.catalogue {
    padding-left: 250px;
    .variety {
      display: flex;
      flex: 1 1 100%;
      background-color: #fff;
      padding: 30px 40px;
      .items-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        .item {
          font-weight: 400;
          flex: 0 1 33.33333%;
          color: #4a90e2;
          display: flex;
          align-items: center;
          padding: 10px 5px;
          img {
            height: 40px;
            margin-right: 15px;
          }
          &.full {
            color: #000;
            text-transform: uppercase;
            font-style: italic;
            transition: .25s ease-in;
            .fa {
              margin-left: 5px;
            }
            &:hover {
              color: #777;
            }
          }
        }
      }
    }
  }
}
.carousel {
  margin-top: 30px;
  width: 100%;
  .item-wrapper {
    min-height: 525px;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    padding: 100px 0;
    position: relative;
    background-image: url(../img/slide-yellow-bg.jpg);
    .row {
      position: relative;
      z-index: 2;
      flex-direction: column;
      align-items: flex-start;
      pointer-events:none;
      h2 {
        font-size: 48px;
        margin: 0 0 38px 0;
        font-weight: 500;
      }
      h4 {
        font-weight: 400;
        font-size: 24px;
        margin: 0 0 52px 0;
      }
      .nav-btn-wrapper {
        display: flex;
        align-items: center;
        pointer-events: auto;
      }
    }
    .hover-item {
      position: absolute;
      right: 0px;
      top: 30px;
      img {
        width: 740px;
        border: 30px solid rgba(0,0,0,0);
        border-top: 20px solid rgba(0,0,0,0);
        border-bottom: 20px solid rgba(0,0,0,0);
        &:hover {
          width: 800px;
          border: none;
        }
      }
    }
    &.blue {
      color: #fff;
      background-image: url(../img/slide-blue-bg.jpg);
      .hover-item {
        img {
          width: 640px;
          &:hover {
            width: 700px;
          }
        }
      }
      .row {
        .nav-btn-wrapper {
          .nav{
            color: #fff;
            border: 1px solid #fff;
          }
        }
      }
    }
  }
  .owl-stage {
    display: flex;
    align-items: center;
  }
  .owl-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 40px;
    pointer-events: none;
    .dot {
      width: 22px;
      height: 22px;
      background-color: unset;
      border: 1px solid #fff;
      border-radius: 50%;
      opacity: 1; 
      cursor: pointer;
      transition: ease-in .25s;
      margin: 10px 5px;
      pointer-events: auto;
      &.active {
        background-color: #fff;
      }
    }
  }
}
.catalogue-news {
  padding: 3rem 0;
  .catalogue-carousel {
    margin: 0;
  }
  .row.title-nav {
    padding-bottom: 40px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    h2 {
      margin: 0;
    }
    .nav-wrapper {
      display: flex;
    }
    .nav {
      line-height: 0;
      .nav-prev {
        margin-left: 10px;
      }
    }
  }
  .row.catalogue-carousel {
    .item {
      display: flex;
      border: solid 1px #fff;
      transition: ease-in .25s;
      flex-direction: column;
      padding: 10px 10px 0 10px;
      max-width: 387px;
      margin: auto;
      &:hover {
        border: solid 1px #979797;
        .button-wrapper .button {
          opacity: 1;
        }
      }
      .image {
        height: 410px;
        background-position: center center;
        background-size: auto 100%;
        background-repeat: no-repeat;
        position: relative;
        align-self: center;
        width: 100%;
        background-color: #f7f7f7;
        .tip {
          background-color: #02c191;
          color: 12px;
          padding: 7px 12px;
          color: #fff;
          position: absolute;
          left: 0;
          bottom: -16px;
          border-radius: 10px;
        }
      }
      h4 {
        font-size: 24px;
        margin-top: 22px;
        margin-bottom: 3px;
      }
      p {
        margin: 0;
        font-size: 18px;
        text-transform: uppercase;
      }
      .button-wrapper {
        margin-left: -10px;
        margin-right: -10px;
        display: flex;
        margin-top: 30px;
        height: 52px;
        .button {
          border-radius: unset;
          width: 100%;
          text-align: center;
          background-color: #f0f0f0;
          color: #4a4a4a;
          font-size: 16px;
          transition: .25s ease-in;
          opacity: 0;
          &:hover {
            background-color: #ddd;
          }
        }
      }
    }
  }
}
.know-more {
  &.bg .row {
    padding-left: 15px;
    padding-right: 15px;
  }
  .row {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
    background-image: url(../img/rzhd-tablet.jpg);
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    p {
      flex: 0 1 700px;
      font-size: 24px;
      color: #fff;
    }
    .button {
      flex: 0 0 250px;
      text-align: center;
      margin: 0 20px;
    }
  }
}
.news {
  padding: 20px 0 50px 0;
  background-color: #fbfbfb;
  .row {
    align-items: stretch;
    &.title {
      justify-content: space-between;
      align-items: center;
      h3 {
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
      }
      a:hover {
        color: #555;
      }
    }
    .item-wrapper {
      margin-bottom: 15px;
    }
    .item {
      background: #fff;
      padding: 30px;
      border: solid 1px #d0d0d0;
      height: 100%;
      h3 {
        margin: 0;
        font-size: 24px;
        padding: 20px 0;
        font-weight: 500;
      }
      p {
        margin: 0;
        padding: 10px 0;
        font-size: 18px;
        color: #848484;
      }
      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        a {
          color: #11519b; 
          font-size: 18px;
          .fa {
            margin-left: 10px;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.blog {
  padding-bottom: 50px;
  .row {
    max-width: 100%;
    flex-wrap: nowrap;
    margin: 0;
    .item {
      background-position: center center;
      background-size: cover;
      padding: 28px 60px 40px 60px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      min-height: 300px;
      margin: 0 10px;
      flex: 1 1 33%;
      &:first-child {
        margin: 0;
      }
      &:last-child {
        margin: 0;
      }
      .button {
        padding: 15px 40px;
        margin-top: 135px;
        background-color: unset;
        border-color: #222;
        &:hover {
          background-color: #222;
          color: #fff;
        }
      }
      &.white {
        color: #fff;
        .button {
          border-color: #fff;
          &:hover {
            background-color: #fff;
            color: #222;
          }
        }
      }
      h4 {
        font-size: 20px;
        font-weight: 500;
        margin: 0;
        padding-bottom: 15px;
      }
      p {
        margin: 0;
        font-size: 16px;
        padding-bottom: 16px;
      }
    }
  }
}
.know-more.questions {
  background-color: #fff;
  color: #000;
  border: solid 1px #4a4a4a;
  border-left: none;
  border-right: none;
  padding: 37px 0 48px 0;
  .row {
    padding-top: 0;
    padding-bottom: 0;
    background-image: unset;
    &.title {
      justify-content: flex-start;
      h3 {
        font-size: 28px;
        font-weight: 400;
        margin: 0;
      }
    }
    justify-content: space-between;
    p {
      color: #000;
      font-size: 18px;
      flex: 0 1 900px;
      margin: 15px 0 0 0;
    }
    .button {
      flex: 0 0 220px;
      margin-left: 40px;
      padding: 15px 25px;
    }
  }
}
.footer {
  padding-top: 20px;
  background-color: #eee;
  .row {
    .item {
      font-size: 16px;
      h3 {
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 500;
      }
      &.one {
        ul {
          list-style-type: none;
          padding: 0;
          li {
            padding-bottom: 20px; 
            a {
              text-decoration: underline;  
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
      &.two {
        .socials {
          display: flex;
          .item {
            height: 40px;
            width: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            color: #444;
            margin: 0 10px;
            a {
              transition: .25s ease-in;
              &:hover {
                color: #000;
              }
            }
          }
        }
        a {
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
      &.three {
        p {
          display: flex;
          align-items: center;
        }
        img {
          height: 25px;
          margin-right: 15px;
        }
      }
    }
  }
  .low {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #979797;
    font-size: 16px;
    color: #9b9b9b;
    justify-content: space-between;
    p {
      text-align: center;
      margin: 6px 0 15px 0;
    }
  }
}